/*HOVER PER FAR DIVENTARE BIANCHE LE SCRITTE*/
li:hover a,
.playlist p:hover{
    color: white;
    cursor: pointer;
}

.sidebar-icon:hover{
    cursor: pointer;
    filter: opacity(1);
}

.playlist p:hover::before{
    background-color: white;
}

/*linea giallo sotto alla lista della navbar del main*/
.content-navbar li:active::after{
    content: '';
    border: 1px solid yellow;
}

/*ingrandisco i bottoni*/
.fa-circle-play:hover,
header a:hover
{    
    transform: scale(1.2);  
    cursor: pointer;
}

/*evidenzio il sottotitolo*/
.song-title .subtitle:hover{
    cursor: pointer;
    text-decoration: underline;
    color: white;
}

/*Faccio diventare gialla la barra*/
.progress-bar .current-progress:hover{
    cursor: pointer;
    background-color: yellow;
}
.progress-bar .current-progress:hover::after{
    content: '';
    display: inline-block;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    position: absolute;
    left: 100%;
    bottom: 50%;
    translate: -50% 50%;
}

/*Background e simbolo play all'hover*/
.card-img:hover::before,
.card-img:hover::after
{
    display: block;
}