/*HOVER PER FAR DIVENTARE BIANCHE LE SCRITTE*/
li:hover a,
.playlist p:hover{
    color: white;
}

.sidebar-icon:hover{
    filter: opacity(1);
}

.playlist p:hover::before{
    background-color: white;
}

/*linea giallo sotto alla lista della navbar del main*/
.content-navbar li:active::after{
    content: '';
    border: 1px solid yellow;
}


.fa-circle-play:hover,
header a:hover
{    
    transform: scale(1.2);  
}

.song-title .subtitle:hover{
    text-decoration: underline;
    color: white;
}

.progress-bar .current-progress:hover{
    background-color: yellow;
}
.progress-bar .current-progress:hover::after{
    content: '';
    display: inline-block;
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    box-shadow: 0 0 1px black;
    position: absolute;
    left: 100%;
    bottom: 50%;
    translate: -50% 50%;
}
