/*INIZIO LE MEDIA QUERY*/

/*MEDIA QUERY PER UNO SCREMO SMALL*/
@media screen and (min-width: 640px){
    .sidebar{
        flex-basis: 250px;
        padding: 0 20px;
    }
    .logo-small{
        display: none;
    }
    .logo-big{
        display: block;
    }
    .label{
        display: inline-block;
    }
    .playlist{
        display: block;
    }
    .sidebar-footer{
        align-items: flex-start;
    }
    .sidebar-footer img{
        display: inline-block;
        vertical-align: middle;
    }
    #profile{
        width: 100%;
        border-top: 1px solid #7f7f7f;
    }    
}

/*MEDIA QUERY PER UNO SCREMO MEDIUM*/
@media screen and (min-width: 900px){
    .row{
        margin: 0 -5px;
    }
    .col{
        padding: 5px;
        flex-basis: calc(100% / 4);
    }
}

/*MEDIA QUERY PER UNO SCREMO LARGE*/
@media screen and (min-width: 1200px) {
    .wrapper{
        padding: 0 40px ;
    }
    .row{
        margin: 0 -10px;
    }
    .col{
        padding: 10px;
        flex-basis: calc(100% / 6);
    }
}
