/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

/*GENERICS*/
body{    
    font-family: 'Montserrat', sans-serif;
    background-color: #141922;
    color: white;    
}
a {
    text-decoration: none;
    display: block;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style-type: none;
}

/*UTILITIES*/
.max-height{
    max-width: auto;
    max-height: 100%;
}
.btn{
    border: 1px solid white;    
    color: white;
    font-weight: 600;
    font-size: small;
    padding: 15px 30px;
    border-radius: 40px;
}

.label{
    vertical-align: middle;
    display: none;
    font-weight: 600;
    color: white;
}
/*creo la riga flex con colonne e card*/
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -10px;
    
}
.col{
    flex-basis: calc(100% / 2);
    padding: 10px;    
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*creo titoli, sottotitoli e titoli sezione*/
.subtitle{
    color: #7F7F7F;
    font-size: small;
    font-weight: 600;
}
.title{
    margin: 10px 0;
}
.section-title{
    margin: 30px 0;
}


/*CREO LA PARTE SOPRA DEL BODY*/
.body-top{
    display: flex;
    height: calc(100vh - 100px); 
}


/*DIVIDO IL body-top NELLA SIDEBAR E NEL MAIN*/

.sidebar{
    flex-basis: 50px;
    flex-shrink: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    height: calc(100vh - 100px);
    overflow: hidden;
}

/*LAVORO SULLE IMMAGINI DEL LOGO*/
#logo img{    
    margin: 10px 0;
    padding-left: 10px;
}

.logo-big{    
    padding: 20px 0;
    padding-right: 20px;
    width: 70%;
    display: none;
}
/*STANDARDIZZO LE IMMAGINI SIDEBAR*/
#menu img
{
    margin: 5px 0;
    padding-left: 10px;
    height: 30px;    
    vertical-align: middle;
    display: inline-block;
}
.sidebar-icon{
    filter: opacity(0.5);
}

/*CREO LA SEZIONE PLAYLIST*/
.playlist{
    margin: 20px 0;
    padding-left: 10px;
    display: none;
}
.playlist ul{
    overflow: auto;
    height: 300px;
}
.playlist p,
.playlist a{    
    color: #7F7F7F;
    font-weight: 600;
}

.playlist p,
.playlist li{
    margin: 20px 0;
}

.playlist li{
    font-size: small;
}

.fa-plus{
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #7F7F7F;
    color: black;
    vertical-align: middle;
    margin-right: 5px;
}

.sidebar-footer{
    height: 90px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
#download img{   
    height: 1rem;
}
#download{   
    font-size: small;
    padding-bottom: 10px;
}
#profile{
    padding: 15px 0;
}
#profile img{    
    height: 30px;
    width: 30px;
    background-color: #7F7F7F;
    border-radius: 50%;
    border: 1px solid transparent;
}
.profile-name{
    color: white;
}

/*AGGIUNGO UN HEADER AL MAIN*/
main header{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: end;
}
/*INIZIO A LAVORARE SUL MAIN*/
main{
    flex-grow: 1;
    height: calc(100vh - 100px); 
    overflow: auto;   
}

.content-navbar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 10px;
}

.content-navbar li{
    flex-basis: auto;
}

/*creo la classe per evidenziare in quale pagina sono*/
.active::after{
    content: '';
    display: block;
    border-bottom: 3px solid yellow;
    margin: 3px auto;
    width: 50%;   
}

.content-navbar a{
    font-size: 12px;
    font-weight: 700;
    color: #7F7F7F;
}

.wrapper{
    padding: 0 20px;
}

.card-img{
    position: relative;
}

.card-img .fa-circle-play{
    font-size: 3.5rem;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
    justify-content: center;
    align-items: center;
}

.popular img,
.popular .fa-circle-play{
    border-radius: 50%;
}

/*CREO IL FOOTER DEL BODY*/
footer{
    background-color: #282828 ;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}
/*DIVIDO IL FOOTER IN TRE SEZIONI*/
.playing-song,
.volume-bar{
    flex-basis: 30%;
}
.play-bar{
    flex-grow: 1;
}

/*LAVORO SULLA SEZIONE DELLA CANZONE*/
.playing-song{
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

.song-title{
    margin-left: 10px;
    flex-basis: 50%;
}
.song-title > *{
    margin: 0;
}
.song-title .subtitle{
    font-size: 12px;
}
.left-icon{
    color: white;
    display: flex;
    gap: 20px;
}

/*LAVORO SULLA SEZIONE DEL PLAYER*/
.play-icons{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.time-bar{
    font-size: x-small;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* CREO LE BARRE DEL PLAYER E DEL VOLUME*/
.progress-bar{
    display: inline-block;
    height: 5px;
    background-color: #555;
    border-radius: 5px;
    position: relative;
}
.progress-bar .current-progress{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    border-radius: 5px;
}
/*lavoro sulla barra del tempo*/
.time-bar .progress-bar{ 
    width: 70%;
}
.time-bar .current-progress{    
    width: 11%;
}
/*LAVORO SULLA SEZIONE E BARRA DEL VOLUME*/
.volume-bar{
    display: flex;
    justify-content: end;
    align-items:center;
    gap: 10px;
    padding-right: 10px;
}
.volume-bar .progress-bar{
    width: 50%;
}
.volume-bar .current-progress{
    width: 45%;
}


/*modifico la scrollbar*/
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #7F7F7F;
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }